.navbar{
  background: #f5dd0a;
}

.navbar-brand{
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

.btn{
  border-radius: 2rem;
  background: #ffffff;
  color: #ee3535;
  border-style: none;
  padding: .6rem 1rem;
  font-size: 1rem;
  font-weight: bold;

}

.btn:hover{
  background: #ff044f;
  border-style: none;
  color: #ffffff;
}


.header-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}